.sidebar {
    background-color: #e0e0e0;
    border: 1px solid #b4b4b4;
    .nav-link{
        color:#000;
        background-color: #fff!important;
        box-shadow: 1px 2px 10px rgb(161 182 253 / 83%);
        height:50px;
        line-height: 2;
        // border-bottom: 1px solid #000!important;
    }
    
    .active {
        background-color: #e50914 !important;
    }
    .nav-item.logout{
        background-color: #fff!important;
        color: #000!important;
    }
    .nav{
        // background-color: #000;
        width: 100%;
        // border:1px solid #000;
        .nav-item{
            border-radius: 0;
        }
        // top:auto
    }
}